@font-face {
	font-family: 'Nunito';
	src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Playfair+Display:wght@700&display=swap')
		format('woff2');
}

:root {
	--primary-color: #000;
	--secondary-color: #fff;
	--accent-color: #f5f5ff;
}

* {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	font-family: 'Nunito', sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 3rem;
}
